/**
 * Project: portfolio
 * File: df.css
 * Created: 1/12/23
 * Author: Abdullah Al Mamun <mamun1214@gmail.com>
 */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "color.css";

body {
  margin: 0;
  font-family: "Inter, Helvetica Neue", sans-serif;
  color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  display: block;
}

main {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

h1 {
  font-size: calc(130% + 1vw);
  font-weight: normal;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: calc(1.5rem * 0.5);
  padding-right: calc(1.5rem * 0.5);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.3rem;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.align-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

.navbar-welcome {
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 12px;
}

.navbar-welcome > strong {
  width: 105px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar-menu {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.55);
  background-color: transparent;
  border: 0;
  border-radius: 0;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-menu-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("https://dev-mamun.github.io/microverse-portfolio/assets/img/icon/menu.png");
  background-repeat: no-repeat;
  background-position: center;
}

#logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 114px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2);
}

.intro {
  height: 670px;
  text-align: center !important;
  background: url("https://dev-mamun.github.io/microverse-portfolio/assets/img/header-illsutration-mobile.svg") no-repeat;
  background-size: 375.38px 648px;
  background-position: -13.88px -10.38px;
  padding-top: 6px;
}

.intro-heading {
  height: auto;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 40px;
}

.intro-heading > h1 {
  margin-bottom: 5px;
  font-size: 32px !important;
  font-weight: 900;
}

.intro-heading p:nth-child(2) {
  color: #36b37e !important;
  margin-top: 0;
  margin-bottom: 0;
}

.intro-text {
  height: auto;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  flex: none;
  order: 1;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.social-icon > ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icon > ul li {
  margin: 10px;
}

.social-icon > ul > li img {
  width: 19.99px;
  height: 19.99px;
}

a {
  color: #0f5257;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.c-btn {
  color: #fff;
  display: inline-block;

  /* border-bottom: 4px solid #000; */
  text-decoration: none;

  /* text-transform: uppercase; */
  font-weight: 600;
  letter-spacing: 0.1em;
  padding: 0.6em 1.6rem;
  position: relative;
  transition: 0.2s all;
  background-color: #36b37f;
  border-radius: 6px;
  font-size: 21px;
}

.c-btn::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #ff521b;
  height: 0%;
  transition: 0.2s all;
  left: 0;
  z-index: -10;
}

.c-btn:hover {
  color: #fff;
  border-color: #36B37F;
  background: #36B37F !important;
  box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
}

.c-btn:active {
  background-color: #008552;
}

.c-btn:hover::before {
  height: 100%;
}

.c-posts {
  display: grid;
  flex-wrap: wrap;
  align-items: top;
  padding: 5%;
  text-align: center;
}

.c-posts__item {
  flex-grow: 1;
  padding-bottom: 2em;
}

.c-posts__item:first-child {
  flex-grow: 2;
}

.section-title {
  font-weight: 700;
  font-size: 43px;
  line-height: 45px;
  color: #172b4d;
  padding: 1rem;
}

.card-wrapper {
  border: 1px solid #ccc;
  border-radius: 11px;
  background: #ebf0ee;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.card-wrapper h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem;
  line-height: 2.1rem;
  padding-bottom: 0;
}

.card-wrapper .tech-tags ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper .tech-tags li {
  width: auto;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #ebf0ee;
}

.card-wrapper .tech-tags li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: 5006;
  font-size: 0.72rem;
  color: #3a4a42;
}

.card-content-wrapper {
  padding: 0.5rem;
  border-radius: 11px;
  background: #fff;
}

.card-image-wrapper {
  min-height: 240px;
}

.skill-image-wrapper {
  margin: 50px;
}

.skill-main-wrapper {
  min-height: 340px;
}

.card-wrapper .skills ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrapper .skills li {
  width: auto;
  margin: 4px;
  box-sizing: border-box;
  border-radius: 8px;
  background: #fff;
}

.card-wrapper .skills li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  font-weight: 600;
  color: #36b37e;
  font-size: 11px;
}

.skill-icon {
  padding: 11px;
  background: #fff;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  box-shadow: 3px 10px 45px -15px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 3px 10px 45px -15px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 10px 45px -15px rgba(0, 0, 0, 0.6);
}

.contact-form input,
.contact-form textarea {
  padding: 12px 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 16px;
  margin-top: 1.3rem;
}

.work-card-title {
  color: #3a4a42;
}

.about-card-title {
  color: #344563;
}

.about-text {
  font-size: 1.25rem;
  color: #42526e;
}

@media all and (min-width: 600px) {
  .c-posts__item {
    flex-basis: 50%;
    padding-right: 5%;
  }

  .c-posts__item:first-child {
    flex-basis: 100%;
  }
}

@media all and (min-width: 1000px) {
  .c-posts__item {
    flex-basis: 33%;
  }

  .c-posts__item:first-child {
    flex-basis: 66%;
  }
}

@media all and (min-width: 1400px) {
  .c-posts__item {
    flex-basis: 25%;
  }

  .c-posts__item:first-child {
    flex-basis: 50%;
  }
}
