/**
 * Project: portfolio
 * File: df.css
 * Created: 1/12/23
 * Author: Abdullah Al Mamun <mamun1214@gmail.com>
 */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "color.css";

body {
  margin: 0;
  font-family: "Inter, Helvetica Neue", sans-serif;
  color: black;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  display: block;
}

main {
  display: block;
}

*,
::after,
::before {
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: calc(1.5rem * 0.5);
  padding-right: calc(1.5rem * 0.5);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.3rem;
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.align-center {
  align-items: center !important;
}

.d-flex {
  display: flex !important;
}

.navbar-welcome {
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  padding: 10px 12px;
}

.navbar-welcome > strong {
  width: 105px;
  height: 28px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.navbar-menu {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.55);
  background-color: transparent;
  border: 0;
  border-radius: 0;
  transition: box-shadow 0.15s ease-in-out;
}

.navbar-menu-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  vertical-align: middle;
  background-image: url("https://dev-mamun.github.io/microverse-portfolio/assets/img/icon/menu.png");
  background-repeat: no-repeat;
  background-position: center;
}

#logo-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 114px;
  height: 48px;
  left: 12px;
  top: calc(50% - 48px / 2);
}

.intro {
  height: 670px;
  text-align: center !important;
  background: url("https://dev-mamun.github.io/microverse-portfolio/assets/img/header-illsutration-mobile.svg") no-repeat;
  background-size: 375.38px 648px;
  background-position: -13.88px -10.38px;
  padding-top: 6px;
}

.intro-heading {
  height: auto;
  font-weight: 700;
  font-size: 35px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 40px;
}

.intro-heading > h1 {
  margin-bottom: 5px;
  font-size: 30px !important;
}

.intro-heading p:nth-child(2) {
  color: #36b37e !important;
  margin-top: 0;
  margin-bottom: 0;
}

.intro-text {
  height: auto;
  color: #172b4d;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  flex: none;
  order: 1;
  margin-bottom: 10px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.social-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.social-icon > ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.social-icon > ul li {
  margin: 10px;
}

.social-icon > ul > li img {
  width: 19.99px;
  height: 19.99px;
}
