/**
 * Project: portfolio
 * File: color.css
 * Created: 1/12/23
 * Author: Abdullah Al Mamun <mamun1214@gmail.com>
 */
.bg-white {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1) !important;
}

a {
  color: #42526e;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}
